
.gyms_container {
    height: 100vh;
}

.gym_cont {
    font-size: 1.2em;
    padding: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: var(--mainOrange);
    border-radius: 5px;
    margin: 20px;
}

.gym_name_address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.gym_name {
    font-size: 30px;
    color:var(--darkOrange);
    word-break: break-all;
    text-align: center;
}

.gym_address {
    font-size: 15px;
    margin-top: 10px;
    color:var(--darkOrange);
}

.reservations {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
}

.reservation {
    padding: 10px;
    /* width: 200px; */
    /* height: 200px; */
    margin: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ffa841;
}


@media screen and (max-width: 768px) {
    .reservations {
        display: block;
        justify-content:flex-start;
        align-items: center;
        width: 100%;
    }
}

.delete_btn {
    color: white;
}

.change_status {
    color: white;
}

.link {
    color: #ffa841;
}

.link:hover {
    color: #ff8119;
}