@import url("https://fonts.googleapis.com/css?family=Lato");
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon {
  font-family: 'Material Icons', serif;
  font-style: normal;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: var(--darkOrange);
  margin-left: 33%;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainGrey: #ececec;
  --lightShadow: #2e2e2e;
  --mainOrange: #ffa841;
  --mainOrangeLight: rgba(255,168,65, 0.3);
  --mainOrangeMedium: rgba(255,168,65, 0.5);
  --mainWhite: #ffffff;
  --mainBlack: #222222;
  --darkOrange: #ff8119;
  --darkGrey: rgb(97, 97, 97);
  --lowOpWhite: rgba(255, 255, 255, 0.1);
  --highOpWhite: rgba(255, 255, 255, 0.9);
  --lowOpBlack: rgba(0, 0, 0, 0.2);
  --transparent: rgba(0, 0, 0, 0);
  --mainSpacing: 3px;
  --mainTransition: all 0.3s linear;
}

.RouterBody {
  /* font-family: "Lato", sans-serif; */
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--mainGrey);
  color: var(--mainBlack);
}

@media screen and (max-width: 768px) {
  .RouterBody {
    padding-top: 0px;
  }
}

/*Hero*/
.defaultHero,
.gymsHero {
  padding-top: 5rem;
  min-height: calc(100vh - 200px);
  min-width: calc(100vw - 66px);
  background: url("./img/header_img.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gymsHero {
  background-image: url("./img/header_img_3.jpg");
  min-height: 60vh;
}

#pls {
  padding-bottom: 100px;
  background-color: var(--mainGrey);
  z-index: -1;
}

/*Banner*/
.banner {
  display: inline-block;
  background: var(--lowOpBlack);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  font-family: Arial, Helvetica, sans-serif;
}

.banner h1 {
  font-size: 60px;
  letter-spacing: var(--mainSpacing);
  font-weight: 300;
  color: var(--mainWhite);
}

.banner p {
  font-size: 30px;
  color: var(--mainWhite);
  margin-bottom: 2rem;
  font-weight: 100;
}

@media screen and (min-width: 576px) {
  .banner {
    padding: 2rem 3rem;
  }
  .banner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .banner {
    padding: 2rem 6rem;
  }
  .banner h1 {
    font-size: 4rem;
  }
}

#bar {
  width: 20rem;
  height: 5px;
  background: var(--darkOrange);
  margin: 0.1rem auto;
}

#slash {
  height: 10px;
  background-color: var(--mainOrange);
}

.gym-name {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin-left: 5rem;
  font-size: 30px;
  letter-spacing: var(--mainSpacing);
  font-weight: 100;
  color: var(--darkGrey);
  font-family: "Lato";
}

@media screen and (max-width: 768px) {
  .gym-name {
    font-size: 20px;
  }
}

.gym-details {
  color: var(--darkGrey);
  font-family: "Lato";
  font-size: 15px;
  margin-left: 5rem;
  overflow: hidden;
  word-break: normal;
}

.external-url {
  text-decoration: none;
  color: var(--mainOrange);
}

#constrain {
  width: 0vw;
  flex: 2;
}

.gym-info {
  margin-left: 5rem;
  margin-top: 0rem;
  font-size: 1rem;
}

.gym-info p {
  margin-bottom: 1rem;
  font-size: 20px;
  color: var(--darkGrey);
}

.gym-button {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  margin-bottom: 10rem;
}

.map {
  margin: 2rem;
}

#address {
  margin-left: 5rem;
  color: var(--darkGrey);
  font-size: 25px;
}

#text-constrain {
  display: flex;
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--highOpWhite);
  /*background: var(--highOpWhite);*/
  padding: 0.9rem 1.2rem;
  border: 3px solid var(--highOpWhite);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary:hover {
  background: var(--lowOpWhite);
}

.dropDown {
  color: var(--mainOrange);
  background-color: transparent;
}

.dropDown:hover {
  color: var(--darkOrange);
  background-color: transparent;
}

#testSlider {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  padding: 2% 0;
  margin-top: 3%;
}
.services {
  text-align: center;
  background-color: var(--mainWhite);
  color: var(--mainOrange);
}

.services-center {
  width: 90vw;
  margin: auto auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--mainOrange);
}
.services h6 {
  letter-spacing: var(--mainSpacing);
  text-align: center;
  font-size: 15px;
}

@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}

/* single listing */
.listing-content {
  display: flex;

}

@media screen and (max-width: 1200px) {
  .listing-content {
    display: flex;
    flex-direction: column;
  }
}

.place-for-img {
  width: 500px;
}

@media screen and (max-width: 780px) {
  .place-for-img {
    width: 200px;
  }
}

.place-for-img img {
  margin: 2rem 1rem 2rem 1rem;
  padding-left: 2rem;
  text-align: center;
  width: 450px;
  height: auto;
}

#myimg {
  width: 25rem;
  margin-left: 3rem;
  margin-top: 3rem;
}

@media screen and (max-width: 780px) {
  #myimg {
    width:10rem;
  }
}

.single-listing {
  border-radius: 3px;
  border: 2px solid var(--darkOrange);
  margin: 5rem;
  height: auto;
}

@media screen and (max-width: 780px) {
  .single-listing {
    margin: 1rem;
  }
}

.gym-short-info {
  margin-top: 5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  margin-left: 2rem;
}

.listing-header {
  margin-bottom: 1rem;
  letter-spacing: var(--mainSpacing);
}

.single-listing p {
  margin-bottom: 1rem;
}

.single-listing button {
  font-weight: lighter;
}

.all-listings-container {
  margin-bottom: 20rem;
}

.listing-container {
  position: relative;
  margin-top: 10rem;
  width: 80vw;
  height: auto;
  overflow: hidden;
  background-color: var(--mainWhite);
  margin: auto;
  margin-bottom: 5rem;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.listing-container h1 {
  font-size: 30px;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
  color: var(--darkOrange);
  font-family: "Lato";
  margin-top: 2rem;
  text-align: center;
  padding-top: 2rem;
}

#search-bar-place {
  text-align: center;
  padding-top: 3rem;
  font-size: 20px;
}

#gallery {
  font-size: 30px;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  margin-bottom: 10%;
}

#container-1 {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.container-2 {
  display: flex;
  justify-content: flex-end;
  vertical-align: middle;
}

.container-4 {
  display: flex;
  width: 95%;
  justify-content: space-between;
}

.gym-name {
  text-transform: uppercase;
}

.gym-info


#container-6 {
  display: flex;
}

#sup {
  display: flex;
  align-items: center;
  justify-content: center;
}

#idk {
  width: 70vw;
  background-color: var(--mainWhite);
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#idk2 {
  width: 90vw;
  height: auto;
  padding-bottom: 2rem;
  background-color: var(--mainWhite);
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

#idk3 {
  padding-top: 3rem;
}

#idk4 {
  width: 70vw;
  height: auto;
  padding-bottom: 2rem;
  background-color: var(--mainWhite);
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.container-3 {
  text-align: left;
  width: 100%;
}

.footer {
  height: 7rem;
  background-color: var(--darkGrey);
}

.gymForm {
  text-align: right;
  margin: 50px;
  width: 100%;
}

.gymForm button {
  width: 130px;
  font-family: "Lato";
  text-align: center;
  letter-spacing: var(--mainSpacing);
}

.form-n-gallery {
  display: flex;
  justify-content: space-evenly;
}

.form-only {
  width: 50%;
  margin-right: 10%;
}

label {
  line-height: 1;
  margin-right: 10px;
  margin-bottom: 13px;
  margin-top: 10px;
  color: var(--mainBlack);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

input {
  display: block;
  box-sizing: border-box;
  width: 50%;
  border-radius: 3px;
  border: 1px solid var(--darkOrange);
  padding: 2px 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.container-3 input {
  display: inline-flex;
  width: 20px;
  height: 20px;
}

.section-title {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  background-color: var(--mainWhite);
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
  color: var(--darkOrange);
  font-family: "Lato";
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: var(--darkOrange);
}

#addGym_title {
  font-size: 1.5rem;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1rem;
  color: var(--darkOrange);
  font-family: "Lato";
  margin-top: 3rem;
  text-align: center;
  padding-top: 2rem;
}

hr {
  border: 0;
  height: 2px;
  background: #ff8119;
  background: -moz-linear-gradient(
    left,
    #ff8119 0%,
    #ffa841 39%,
    #ffb951 58%,
    #ffffff 85%,
    #ffffff 85%
  );
  background: -webkit-linear-gradient(
    left,
    #ff8119 0%,
    #ffa841 39%,
    #ffb951 58%,
    #ffffff 85%,
    #ffffff 85%
  );
  background: linear-gradient(
    to right,
    #ff8119 0%,
    #ffa841 39%,
    #ffb951 58%,
    #ffffff 85%,
    #ffffff 85%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8119', endColorstr='#ffffff',GradientType=1 );
}

button {
  font-family: "Lato";
  background-color: var(--mainOrange);
  border: none;
  color: var(--mainWhite);
  text-align: center;
  font-size: 20px;
  height: 45px;
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 2px;
  white-space: nowrap;
}

button:hover {
  background-color: var(--darkOrange);
}

@media screen and (min-width: 768px) {
  .dropDown {
    display: none;
  }
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.custom-file-container {
  max-width: 200px;
}

.custom-file-container__image-clear {
  color: var(--mainBlack);
}

/* user profile */
.profile-container {
  width: 60%;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--mainWhite);
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.profile-info {
  background-color: whitesmoke;
  margin-top: 15px;
}

.profile-info-table {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 50px;
}

.profile-picture {
  min-width: 100px;
  width: 100px;
  height: 100px;
  background-color: rgb(241, 241, 241);
  text-align: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  border-radius: 50%;
  overflow: hidden;
  margin: 25px;
}

.profile-div {
  color: var(--darkOrange);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  letter-spacing: 1px;
  margin-left: 5rem;
}

.profile-gym-button {
  margin-bottom: 2rem;
  margin-left: 20%;
}

.profile-info {
  background-color: var(--mainWhite);
}

@media screen and (max-width: 700px) {
  .profile-gym-button{
    margin-left: 15%;
    font-size: 15px;
  }
  .profile-info {
    background-color: var(--mainWhite);
    display: flex;
    flex-direction: column;
  }
  .profile-info-table {
    margin-left: 15%;
  }
  .profile-div {
    margin-left: 15%;
  }
}

.headline-info {
  color: rgb(117, 117, 117);
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 10px;
}

.user-profile-link {
  color: var(--darkOrange);
  text-decoration: underline;
  padding-top: 40px;
}

.błagam {
  height: 100px;
  width: 100px;
}

/*login*/

.login-page {
  background-color: var(--mainWhite);
  margin: 0;
  color: var(--mainBlack);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.login-wave {
  background-image: url("./img/wave.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-background {
  width: 30%;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: var(--mainWhite);
  padding: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.login-form {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.login-background button {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.login-link-signup {
  margin-left: auto;
  margin-right: auto;
  font-family: Lato;
  font-size: 15px;
  text-decoration: none;
  color: var(--darkGrey);
}

.login-link-signup span {
  color: var(--darkOrange);
}

.login-external button {
  width: 100%;
}

.login-external .firebaseui-idp-google .firebaseui-idp-text-long {
  font-size: 0;
}
.login-external .firebaseui-idp-google .firebaseui-idp-text-long::after {
  font-size: 14px;
  content: "Zaloguj się z Google";
}

.login-external .firebaseui-idp-facebook .firebaseui-idp-text-long {
  font-size: 0;
}
.login-external .firebaseui-idp-facebook .firebaseui-idp-text-long::after {
  font-size: 14px;
  content: "Zaloguj się z Facebook";
}

#signup-link {
  color: var(--darkOrange);
}

.login-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .login-logo {
    display: none;
  }
}

/* style for map */
.leaflet-container {
  height: 400px;
  width: 80%;
  margin: 0 auto;
}

/* drag and drop */
.drag-drop-duo {
  display: flex;
  flex-direction: column;
}

.drag-drop-button {
  font-size: 15px;
  padding: 0px;
  height: 2rem;
  max-width: 5rem;
}

/* loading */
.loading-gif {
  height: 5rem;
}

.loading-container {
  text-align: center;
  display: block;
}

/* booking */
.booking {
  margin-bottom: 2rem;
  margin-top: 2rem;

}

.booking-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.booking-container {
  display: flex;
  flex-direction: column;
  width: 20vw;
  justify-content: space-around;
}

.booking-field {
  margin-bottom: 1rem;
}

.booking-button {
  font-size: 15px;
  padding: 0px;
  height: 2rem;
  max-width: 5rem;
  padding-right: 40%;
  padding-left: 6%;
}

.larger-field {
  padding-right: 40%;
}

#booking-weekday {
  margin-top: 15%;
  width: 40%;
}

/* calendar */
.calendar {
  width: 80%;
  border: 4px solid black;
  height: auto;
  padding: 2rem;
  transform: translate(12%, 0%);
  margin-bottom: 2rem;
}

.calendar table {
  table-layout: fixed;
}

.calendar-day-name {
  height: 45rem;
  width: 57rem;
}

.calendar-day-name tr {
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid var(--darkOrange); */
  height: 70rem;
  padding-top: 10px;
  flex-grow: 7;
  table-layout: fixed;
}

.week-day {
  padding: 1rem;
  /* border: 2px solid rgb(228, 10, 10); */
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 2rem;
  color: var(--darkOrange);
}

.calendar-hours {
  height: 30rem;
  align-items: center;

}

.hour-td {
  border: 2px solid var(--mainOrangeMedium);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.18);
box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.18);
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Lato";
  font-weight: lighter;
}

.calendar-hours tr {}

.idk-pls {
  display: flex;
  flex-direction: column;
}