@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}



h1,
h2,
h3 {
  color: white;
}

header img {
  max-width: 100vw;
  max-height:100vh;
  overflow:hidden;
  position: absolute;
}

button {
  background-color: #FFA841;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  height: 51px;
  margin: 10px;
  font-weight: bold;

}

#zalogujButton {
  width: 135px;
}

#dodajSaleButton {
  width: 187px;
}

ul.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
}

nav li {
  float: right;
}

#logo {
  float:left;
  padding: 15px 0px 0px 20px;
}


nav li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

nav li a:hover {
  background-color: #EDEDED;
}

nav button {
  margin-top: 29px;
  font-family: "Lato";
}
