/* Elements */
li {
  padding: 10px 0;
}

/* Class */
.navBar {
  width: 100%;
  background-color: white;
  color: black;
  position: fixed;
}

.hamburger-button {
  font-size: 30px;
  margin-right: 30px;
  color: var(--mainOrange);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
}

.hamburger-button:hover {
  background-color: transparent;
}

.nav-links {
  height: 0;
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
  padding: 0;
}

.show-nav {
  height: 100%;
  display: block;
}

/* Media screen size */

@media screen and (min-width: 768px) {
  .hamburger-button {
    display: none;
  }

  .nav-links {
    height: auto;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .navBar {
    position: sticky;
  }
}

#logo {
  height: 60px;
  width: auto;
  padding: 5px;
}

.navBar li a {
  display: block;
  color: var(--mainWhite);
  text-align: center;
  text-decoration: none;
  transition: var(--mainTransition);
}

.navBar button {
  font-family: "Lato";
}
